<!-- header section strats -->
<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a href="{{ .Site.BaseURL }}" class="navbar-brand">
        <img src="{{ "images/logo-black.png" | relURL }}" alt="{{ .Site.Title }}">
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav">
            {{ range .Site.Menus.main }}
            <li class="nav-item {{ if eq .URL $.RelPermalink }}active{{ end }}">
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}{{ if eq .URL $.RelPermalink }} <span class="sr-only">(current)</span>{{ end }}</a>
            </li>
            {{ end }}
            <li class="nav-item">
              <a class="nav-link" href="/admin">Login</a>
            </li>
          </ul>
          <form class="form-inline">
            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- end header section --> 